.info_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

.info_cont_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}